{% macro nav_link(current, target, label) %}
    <li class="nav-item">
        <a class="nav-link{{ target == current ? ' active' }}" href="{{ path(target) }}">{{ label }}</a>
    </li>
{% endmacro %}
